# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Firebase
service-account.json
*.json

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Logs and system info
ipconfig_all.txt
firebase-debug.log
*.log
*.txt
!requirements.txt
!.agent/workflows/*.md
